<!--
  Generated template for the RdvPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar>
  <ion-title>Rendez-vous #{{rdvId}}</ion-title>
</ion-navbar>

<ion-content padding class="rdv">
  <h3>Liste des dossiers du RDV</h3>
  <ion-list>
    <button ion-item *ngFor="let cli of lstCli;let i = index" (click)="start(i)" [ngClass]="{
                      'soc' : cli.etatVie=='SOCIETAIRE',
                      'prosp' : cli.etatVie=='PROSPECT'}">
      <ion-icon *ngIf="cli.rdvStatus" item-right name="logo-tux"></ion-icon>
      <h5>#{{cli.clientId}} {{cli.clientName}} <span *ngIf="cli.clientPrenom!=='null'">{{cli.clientPrenom}}</span></h5>
    </button>
  </ion-list>
  <ion-list>
    <button ion-item *ngFor="let item of dataMenu | objToArray" (click)="itemTapped(item)">
      <ion-icon [name]="item.value.icon" [ngStyle]="{'color': item.value.color}" item-left></ion-icon>
      <h5>{{item.value.lib}}</h5>
      <ion-icon item-right name="checkbox" [ngClass]="{
          'Completed': item.value.status == 'Completed',
          'Hold': item.value.status == 'Hold' , 
          'Started': item.value.status == 'Started', 
          'Pending': item.value.status == 'Pending'} ">
        </ion-icon>
    </button>
  </ion-list>
</ion-content>