<!--
  Generated template for the RdvPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.

<ion-navbar>
  <ion-title></ion-title>
</ion-navbar>
-->
<ion-menu id="menuRdv" [content]="contentRdv" side="right">
  <ion-toolbar>
    <ion-title>Liste des dossiers du RDV</ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-list>
      <button menuToggle="menuRdv" ion-item *ngFor="let cli of lstCli;let i = index" (click)="start(i)" [ngClass]="{
                      'soc' : cli.etatVie=='SOCIETAIRE',
                      'prosp' : cli.etatVie=='PROSPECT'}">
      <ion-icon *ngIf="cli.rdvStatus" item-right name="logo-tux"></ion-icon>
      <h5>#{{cli.clientId}} {{cli.clientName}} <span *ngIf="cli.clientPrenom!=='null'">{{cli.clientPrenom}}</span></h5>
    </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content #contentRdv class="rdv">
  <ion-navbar *navbar primary>
    <ion-title>Rendez-vous #{{rdvId}}</ion-title>
    <button menuToggle="menuRdv" end><ion-icon name="people"></ion-icon></button>
    <button menuToggle start><ion-icon name="menu"></ion-icon></button>
  </ion-navbar>

  <ion-tabs #rdvTabs *ngIf="currentCli" tabbarPlacement="top" tabbarLayout="icon-left">
    <ion-tab *ngFor="let item of dataMenu" secondary
    [tabIcon]="item.icon" 
    [tabTitle]="item.lib" 
    [root]="item.page"
    [rootParams]="retrieveData()" 
    [tabBadge]="item.status" 
    [tabBadgeStyle]="{
          'Completed': item.status == 'Completed',
          'Hold': item.status == 'Hold' , 
          'Started': item.status == 'Started', 
          'Pending': item.status == 'Pending'} "
    preloadTabs="false">
    </ion-tab>
  </ion-tabs>
</ion-content>