<!--
  Generated template for the DiagConseilPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar secondary>
  <ion-title><ion-icon name="wifi"></ion-icon> Simulateurs</ion-title>
  <ion-buttons end>
    <button (click)="close()">Fermer</button>
  </ion-buttons>
</ion-navbar>
<ion-content class="souscription">
  <flex-input *ngFor="let f of lstForms" [idPage]=idPage [idMenu]=f.id [dataIn]=dataIn [idClient]=idClient></flex-input>
  <h4 *ngIf="idSimu">#Simulation : {{idSimu}}, le {{dataSimu.dateSimu}}</h4>
  <ion-card *ngFor="let item of dataSimu.data">
    <img [src]="item.graph" />
    <ion-card-content>
      <ion-card-title>
        {{item.title}}
      </ion-card-title>
      <p>
        Autres données...
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>